[Desktop Entry]
Name=Nix
Comment=Adding programs available with Nix to KRunner.
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=nix-snowflake
X-KDE-PluginInfo-Author=Leah Amelia Chen
X-KDE-PluginInfo-Email=hi@pluie.me
X-KDE-PluginInfo-Name=krunner_nix
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=me.pluie.krunner_nix
X-Plasma-DBusRunner-Path=/krunner_nix
